.App {
  margin: 100px 150px;
  width: 100vw;
}

.title {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 66px;
  color: #2E282C;
}

.grid-layout {
  display: grid;
  max-width: 1440px;
  grid-template-columns: repeat(auto-fill, minmax(600px, 600px));
  grid-gap: 40px;

}



.filter-container {
  display: flex;
  flex-direction: row;
  margin: 40px 0px;
}