.App {
  margin: 100px 150px;
  width: 100vw;
}


.card-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 40px;

}

.filter-container {
  margin: 40px 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}